@import url(normalize.css);

body {
  font-family: Arial, sans-serif;
  margin: 0px;
}

#viewHighScores {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}

#timeLeft {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#quizContainer {
  text-align: center;
}

#answerContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
  display: block;
  text-align: center;
  margin: 10px;
}
