@import url(normalize.css);

body {
  font-family: "Inconsolata", monospace;
  margin: 0px;
  background-color: rgb(229, 222, 202);
  text-align: center;
}

h2 {
  font-size: calc(1vw + 18px);
}

#viewHighScores {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}

.timeLeft {
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
}

.checkMessage {
  position: fixed;
  bottom: 0;
  margin-bottom: 125px;
  left: 50%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  transform: translateX(-50%);
  font-size: 36px;
}

#correctMessage {
  color: green;
  transform: translateX(-50%) rotate(20deg);
}
#wrongMessage {
  color: red;
  transform: translateX(-50%) rotate(-20deg);
}

.score {
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#questionContainer {
  font-family: Arial, Helvetica, sans-serif;
}

#answerContainer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  background-color: rgb(213, 202, 170);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: rgb(245, 243, 235);
}

.answer {
  display: block;
  width: 40vw;
  min-width: 250px;
}
